<ion-header>
  <ion-navbar>
    <ion-title>
      Mask Tracker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div margin-bottom>
    <ion-item>
      <ion-select [(ngModel)]="currentMask" interface="popover" [placeholder]="currentMask.name" (ngModelChange)="update()">
        <ion-option *ngFor="let mask of masks" [value]="mask">{{mask.name}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <h2 style="color:yellow" (click)="showYellowDescription()">51-100</h2>
      </ion-col>
      <ion-col align-self-center>
        <button ion-button large (click)="incrementYellow()">+</button>
      </ion-col>
      <ion-col align-self-center>
        <h3 style="color:yellow">{{currentMask.yellow}}</h3>
      </ion-col>
      <ion-col align-self-center col-auto>
        <button ion-button small [disabled]="decrementYellowDisabled" (click)="decrementYellow()">-</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <h2 style="color:orange" (click)="showOrangeDescription()">101-150</h2>
      </ion-col>
      <ion-col align-self-center>
        <button ion-button large (click)="incrementOrange()">+</button>
      </ion-col>
      <ion-col align-self-center>
        <h3 style="color:orange">{{currentMask.orange}}</h3>
      </ion-col>
      <ion-col align-self-center col-auto>
        <button ion-button small [disabled]="decrementOrangeDisabled" (click)="decrementOrange()">-</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <h2 style="color:red" (click)="showRedDescription()">151-200</h2>
      </ion-col>
      <ion-col align-self-center>
        <button ion-button large (click)="incrementRed()">+</button>
      </ion-col>
      <ion-col align-self-center>
        <h3 style="color:red">{{currentMask.red}}</h3>
      </ion-col>
      <ion-col align-self-center col-auto>
        <button ion-button small [disabled]="decrementRedDisabled" (click)="decrementRed()">-</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <h2 style="color:purple" (click)="showPurpleDescription()">201-300</h2>
      </ion-col>
      <ion-col align-self-center>
        <button ion-button large (click)="incrementPurple()">+</button>
      </ion-col>
      <ion-col align-self-center>
        <h3 style="color:purple">{{currentMask.purple}}</h3>
      </ion-col>
      <ion-col align-self-center col-auto>
        <button ion-button small [disabled]="decrementPurpleDisabled" (click)="decrementPurple()">-</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <h2 style="color:brown" (click)="showBrownDescription()">300-500</h2>
      </ion-col>
      <ion-col align-self-center>
        <button ion-button large (click)="incrementBrown()">+</button>
      </ion-col>
      <ion-col align-self-center>
        <h3 style="color:brown">{{currentMask.brown}}</h3>
      </ion-col>
      <ion-col align-self-center col-auto>
        <button ion-button small [disabled]="decrementBrownDisabled" (click)="decrementBrown()">-</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <h2 style="color:black" (click)="showBrownDescription()">500+</h2>
      </ion-col>
      <ion-col align-self-center>
        <button ion-button large (click)="incrementBrown()">+</button>
      </ion-col>
      <ion-col align-self-center>
        <h3 style="color:black">{{currentMask.brown}}</h3>
      </ion-col>
      <ion-col align-self-center col-auto>
        <button ion-button small [disabled]="decrementBrownDisabled" (click)="decrementBrown()">-</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div margin-top [style.color]="getRemainingColour()"><h1>{{remaining}}% remaining</h1></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="addMaskDialog()">add mask</button>
      </ion-col>
      <ion-col>
        <button ion-button color="danger" [disabled]="deleteDisabled" (click)="deleteMaskDialog()">delete</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngFor="let logMessage of this.logger.messages">{{logMessage}}</div>
</ion-content>
